<div class="homePageStyle">
    <img class="beerHomepage" src="/images/beer.png" alt="beerImg">
    <div class="buttons">
        <a class="button1" href="/Beers">Check the beers!</a>
        <a class="button2" href="/Random Beer">Check a random beer!</a>
    </div>
</div>