<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>I love Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="navbarStyle">
      <div class="navItems">
        <a class="navItem" href="/">Home</a>
        <a class="navItem" href="/Beers">Beers</a>
        <a class="navItem" href="/Random">Random Beer</a>
        </div>
    </nav>

    <main>
    {{{ body }}}
    </main>
  </body>

  <footer>
    <div class="footerDiv">
    <p> Developed by Ironhack ;)</p>
    </div>
  </footer>
</html>
